<%- include('header') %>

<div class="page-wrapper">
    <div class="container">
        <div class="row heading-bg">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h5 class="txt-dark">Hotels</h5>
            </div>

            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li class="active"><span>Hotels</span></li>
                </ol>
            </div>
            <% if (typeof messages.info != "undefined") { %>
                <div class="col-md-12 mt-10">
                    <%- include('notification', {type: 'success', message : messages.info}); %>
                </div>
              <% } %>
    
              <% if (typeof messages.danger != "undefined") { %>
                <div class="col-md-12 mt-10">
                    <%- include('notification', {type: 'danger', message : messages.danger}); %>
                </div>
              <% } %>
        </div>
    
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="panel panel-default border-panel card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">Add A New Hotel</h6>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-default btn-sm" href="<%=helper.base_url()%>admin/hotels"> Back</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <form action="<%=helper.base_url()%>admin/add_action_hotel" method="post" id="addHotelForm">
                                <div class="form-group">
                                    <label class="control-label mb-10" for="title">Title:</label>
                                    <input type="text" class="form-control required" id="title" name="title"  autocomplete="off">
                                    <% if (typeof title_error != "undefined") { %>
                                        <%- include('notification', {type: 'danger', message : title_error.msg}); %>
                                    <% } %>
                                </div>
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Description</label>
                                    <textarea class="form-control required" rows="5" name="description" id="description"></textarea>
                                    <% if (typeof description_error != "undefined") { %>
                                        <%- include('notification', {type: 'danger', message : description_error.msg}); %>
                                    <% } %>
                                </div>
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Location</label>
                                    <select class="form-control select2 required" name="location_id" id="location_id">
                                        <% locations.forEach(function(location) { %>
                                          <option value="<%=location._id %>"><%=helper.initial_capitalizer(location.locaton_name) %></option>
                                        <% }); %>
                                    </select>
                                    <% if (typeof location_id_error != "undefined") { %>
                                        <%- include('notification', {type: 'danger', message : location_id.msg}); %>
                                    <% } %>
                                </div>

                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Amenities</label>
                                    <select class="form-control select2 select2-multiple required" name="select_amenities" id="select_amenities" multiple="multiple">
                                        <% amenities.forEach(function(amenity) { %>
                                          <option value="<%=amenity._id %>"><%= helper.initial_capitalizer(amenity.amenities_title) %></option>
                                        <% }); %>
                                    </select>
                                    <% if (typeof amenities_error != "undefined") { %>
                                        <%- include('notification', {type: 'danger', message : amenities_error.msg}); %>
                                    <% } %>
                                </div>

                                <div class="form-group">
                                    <div id="image_array">
                                    </div>
                                    <label class="control-label mb-10" for="">Gallery images:</label>
                                    <div id="dropzone_hotel_image" class="fallback dropzone">
                                        <input style="display: none;" name="images" type="file" multiple />
                                    </div>
                                    <% if (typeof gallery_error != "undefined") { %>
                                        <%- include('notification', {type: 'danger', message : gallery_error}); %>
                                    <% } %>
                                </div>

                                <div class="form-group mb-0">
                                    <button type="submit" class="btn btn-primary"><span class="btn-text">Save</span></button>
                                </div>	
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('footer_navbar') %>
    </div>
</div>
<%- include('footer') %>