<%- include('header') %>

<div class="page-wrapper">
    <div class="container">
        <div class="row heading-bg">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h5 class="txt-dark">Users</h5>
            </div>

            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li class="active"><span>Users</span></li>
                </ol>
            </div>
            <% if (typeof messages.info != "undefined") { %>
                <div class="col-md-12">
                    <%- include('notification', {type: 'success', message : messages.info}); %>
                </div>
              <% } %>
    
              <% if (typeof messages.danger != "undefined") { %>
                <div class="col-md-12">
                    <%- include('notification', {type: 'danger', message : messages.danger}); %>
                </div>
              <% } %>
        </div>
    
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="panel panel-default border-panel card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">Force Password Change</h6>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-default btn-sm" href="<%=helper.base_url()%>admin/users"> Back</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <form action="<%=helper.base_url()%>admin/save_force_password_change" method="post" id="genericFormValidation" accept-charset="utf-8">
                               <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label mb-10" for="password">Password(osptional):</label>
                                            <input type="password" class="form-control required" id="password" name="password"  autocomplete="off">
                                            <% if (typeof password_error != "undefined") { %>
                                                <%- include('notification', {type: 'danger', message : password_error.msg}); %>
                                            <% } %>
                                        </div>
                                   </div>
                                   <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label mb-10" for="confirm_password">Confirm password(optional):</label>
                                            <input type="password" class="form-control required" id="confirm_password" name="confirm_password"  autocomplete="off">
                                            <% if (typeof confirm_password_error != "undefined") { %>
                                                <%- include('notification', {type: 'danger', message : confirm_password_error.msg}); %>
                                            <% } %>
                                        </div>
                                    </div>                                  
                                </div>

                                <div class="form-group mb-0">
                                    <input type="hidden" name="id" id="id" value="<%=user_id%>">
                                    <button type="submit" class="btn btn-primary"> <span class="btn-text">Save</span></button>
                                </div>	
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('footer_navbar') %>
    </div>
</div>
<%- include('footer') %>