<%- include('header') %>

<div class="page-wrapper">
    <div class="container">
        <div class="row heading-bg">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h5 class="txt-dark">Rooms</h5>
            </div>

            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li class="active"><span>Rooms</span></li>
                </ol>
            </div>
            <% if (typeof messages.info != "undefined") { %>
                <div class="col-md-12 mt-10">
                    <%- include('notification', {type: 'success', message : messages.info}); %>
                </div>
              <% } %>
    
              <% if (typeof messages.danger != "undefined") { %>
                <div class="col-md-12 mt-10">
                    <%- include('notification', {type: 'danger', message : messages.danger}); %>
                </div>
              <% } %>
        </div>
    
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="panel panel-default border-panel card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">Room List - <%=hotel_title.hotel_title%> </h6>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-default btn-sm" href="<%=helper.base_url()%>admin/hotels">Back</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <table class="table mb-0" id="DatatableHolder">
                                <thead>
                                  <tr>
                                    <th>Type</th>
                                    <th>Capacity</th>
                                    <th>Price</th>
                                    <th>Created</th>
                                    <th>Manage</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% rooms.forEach(function(room) { %>
                                        <tr>
                                            <td><%=helper.initial_capitalizer(room.room_type)%></td>
                                            <td>
                                                <span class="badge badge-primary"><%=room.room_capacity.adults%></span>
                                                <span class="badge badge-default"><%=room.room_capacity.childs%></span>
                                            </td>
                                            <td><span class="badge badge-default"><%=room.room_price%></span></td>
                                            <td><%=helper.date_format(room.createdAt, "YYYY-MM-DD")%></td>
                                            <td>
                                                <a href="<%=helper.base_url()%>admin/update_room/<%=room._id%>" class="btn btn-xs btn-primary mr-5">Edit</a>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                              </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('footer_navbar') %>
    </div>
</div>
<%- include('footer') %>