<%- include('header') %>

<div class="page-wrapper">
    <div class="container">
        <div class="row heading-bg">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h5 class="txt-dark">Users</h5>
            </div>

            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li class="active"><span>Users</span></li>
                </ol>
            </div>
            <% if (typeof messages.info != "undefined") { %>
                <div class="col-md-12 mt-10">
                    <%- include('notification', {type: 'success', message : messages.info}); %>
                </div>
              <% } %>
    
              <% if (typeof messages.danger != "undefined") { %>
                <div class="col-md-12 mt-10">
                    <%- include('notification', {type: 'danger', message : messages.danger}); %>
                </div>
              <% } %>
        </div>
    
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="panel panel-default border-panel card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">Update User</h6>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-default btn-sm" href="<%=helper.base_url()%>admin/users"> Back</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <form action="<%=helper.base_url()%>admin/save_user" method="post" id="instantValidator" accept-charset="utf-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label mb-10" for="first_name">First name:</label>
                                            <input type="text" class="form-control required" id="first_name" name="first_name"  autocomplete="off" value="<%=user.first_name%>">
                                            <% if (typeof first_name_error != "undefined") { %>
                                                <%- include('notification', {type: 'danger', message : first_name_error.msg}); %>
                                            <% } %>
                                        </div>
                                   </div>
                                   <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label mb-10" for="first_name">Last name:</label>
                                            <input type="text" class="form-control required" id="last_name" name="last_name"  autocomplete="off" value="<%=user.last_name%>">
                                            <% if (typeof last_name_error != "undefined") { %>
                                                <%- include('notification', {type: 'danger', message : last_name_error.msg}); %>
                                            <% } %>
                                        </div>
                                    </div>                                  
                               </div>
                            
                               <div class="row">
                                   <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label mb-10" for="email">Email:</label>
                                            <input type="email" class="form-control required" id="email" name="email" autocomplete="off" value="<%=user.email%>">
                                            <% if (typeof email_error != "undefined") { %>
                                                <%- include('notification', {type: 'danger', message : email_error.msg}); %>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label mb-10" for="phone">Phone:</label>
                                            <input type="number" class="form-control required" id="phone" name="phone" autocomplete="off" value="<%=user.phone%>">
                                            <% if (typeof phone_error != "undefined") { %>
                                                <%- include('notification', {type: 'danger', message : phone_error.msg}); %>
                                            <% } %>
                                        </div>
                                    </div>
                               </div>
                               <div class="row">
                                <div class="col-md-6">
                                     <div class="form-group">
                                         <label class="control-label mb-10" for="company">Company:</label>
                                         <input type="text" class="form-control" id="company" name="company" autocomplete="off" value="<%=user.company%>">
                                         <% if (typeof company_error != "undefined") { %>
                                             <%- include('notification', {type: 'danger', message : company_error.msg}); %>
                                         <% } %>
                                     </div>
                                 </div>
                                 <div class="col-md-6">
                                     <div class="form-group">
                                         <label class="control-label mb-10" for="address">Address :</label>
                                         <input type="text" class="form-control" id="address" name="address" autocomplete="off" value="<%=user.address%>">
                                         <% if (typeof address_error != "undefined") { %>
                                             <%- include('notification', {type: 'danger', message : address_error.msg}); %>
                                         <% } %>
                                     </div>
                                  </div>
                               </div>
                               <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label mb-10" for="longitude">Role:</label>
                                            <br>
                                            <div class="radio-inline">
                                                <div class="radio radio-primary">
                                                    <input type="radio" name="role" id="user" value="user" <%=(user.role.toString() == "user")? "checked" : "";%>>
                                                    <label for="user"> User </label>
                                                </div>
                                            </div>
                                            <div class="radio-inline">
                                                <div class="radio radio-primary">
                                                    <input type="radio" name="role" id="agent" value="agent" <%=(user.role.toString() == "agent")? "checked" : "";%>>
                                                    <label for="agent"> Agent </label>
                                                </div>
                                            </div>
                                            <div class="radio-inline">
                                                <div class="radio radio-primary">
                                                    <input type="radio" name="role" id="admin" value="admin" <%=(user.role.toString() == "admin")? "checked" : "";%>>
                                                    <label for="admin"> Admin </label>
                                                </div>
                                            </div>
                                            <% if (typeof role_error != "undefined") { %>
                                                <%- include('notification', {type: 'danger', message : role_error.msg}); %>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label mb-10" for="subscription">Subscription:</label>
                                            <select name="subscription_id" id="subscription_id" class="form-control required select2">
                                                <% subscriptions.forEach(function(subscription) { %>
                                                    <option <%-(user.subscription_id == subscription._id.toString()) ? "selected" : " " %> value="<%=subscription._id %>"><%=helper.initial_capitalizer(subscription.subscription_title) %></option>
                                                <% }); %>
                                            </select>
                                            <% if (typeof subscription_id != "undefined") { %>
                                                <%- include('notification', {type: 'danger', message : subscription_id.msg}); %>
                                            <% } %>
                                        </div>
                                    </div>
                               </div>
                                <div class="form-group">
                                    <label class="control-label mb-10 text-left">Status</label>
                                    <div class="checkbox checkbox-primary">
                                        <input <%-(user.isActive.toString() == 1) ? "checked" : "";%> id="statush" name="statush" type="checkbox">
                                        <label for="statush"> <%-(user.isActive.toString() == 1) ? "Active" : "Pending";%> </label>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <input type="hidden" name="id" id="id" value="<%=user._id%>">
                                    <button type="submit" class="btn btn-primary"><span class="btn-text">Save</span></button>
                                </div>	
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('footer_navbar') %>
    </div>
</div>
<%- include('footer') %>